schemas/1.0/xml_schema/ai_eoTask.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
<xs:complexType name="AI_EOTask">
  <xs:complexContent>
    <xs:extension base="AI_AbstractTask">
      <xs:sequence>
        <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_EOTask"/>
        <xs:element name="taskType" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>