schemas/1.0/xml_schema/ai_eoTrainingDataset.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.opengis.net/trainingdml-ai/part3/1.0" targetNamespace="http://www.opengis.net/trainingdml-ai/part3/1.0"
  xmlns:cit="https://schemas.isotc211.org/19115/-1/cit/1.3"
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3"
  xmlns:gex="https://schemas.isotc211.org/19115/-1/gex/1.3"
  xmlns:mrc="https://schemas.isotc211.org/19115/-1/mrc/1.3"
  elementFormDefault="qualified" version="1.0.0">
  <xs:annotation>
    <xs:documentation>
      OGC Training Data Markup Language for Artificial Intelligence (TrainingDML-AI) is an OGC Standard.
      Copyright (c) 2025 Open Geospatial Consortium.
      To obtain additional rights of use, visit https://www.ogc.org/legal/ .
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/cit/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/cit/1.3.0/citation.xsd"/>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/mcc/1.3.0/commonClasses.xsd"/>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/mrc/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/mrc/1.3.0/content.xsd"/>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/gex/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/gex/1.3.0/extent.xsd"/>
  <xs:include schemaLocation="./namedValue.xsd"/>
  <xs:include schemaLocation="./ai_labeling.xsd"/>
  <xs:include schemaLocation="./ai_metricsInLiterature.xsd"/>
  <xs:include schemaLocation="./ai_eoTask.xsd"/>
  <xs:include schemaLocation="./dataQuality.xsd"/>
  <xs:include schemaLocation="./ai_eoTrainingData.xsd"/>
  <xs:include schemaLocation="./ai_tdChangeset.xsd"/>
  <xs:element name="AI_EOTrainingDataset" type="AI_EOTrainingDataset"/>
  <xs:complexType name="AI_EOTrainingDataset">
    <xs:sequence>
      <xs:element name="type" type="xs:string" fixed="AI_EOTrainingDataset"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="doi" type="xs:string" minOccurs="0"/>
      <xs:element name="scope" type="mcc:MD_Scope_Type" minOccurs="0"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="license" type="xs:string"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
      <xs:element name="amountOfTrainingData" type="xs:int" minOccurs="0"/>
      <xs:element name="createdTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="updatedTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="providers" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="metricsInLIT" type="AI_MetricsInLiterature" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="statisticsInfo" type="NamedValue" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dataSources" type="cit:CI_Citation_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="numberOfClasses" type="xs:int" minOccurs="0"/>
      <xs:element name="classificationScheme" type="xs:string" minOccurs="0"/>
      <xs:element name="classes" type="NamedValue" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="extent" type="gex:EX_Extent_Type" minOccurs="0"/>
      <xs:element name="bands" type="mrc:MD_Band_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="imageSize" type="xs:string" minOccurs="0"/>
      <xs:element name="tasks" type="AI_EOTask" maxOccurs="unbounded"/>
      <xs:element name="labeling" type="AI_Labeling" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="quality" type="DataQuality" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="data" type="AI_EOTrainingData" maxOccurs="unbounded"/>
      <xs:element name="changesets" type="AI_TDChangeset" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
