schemas/1.0/xml_schema/ai_eoTrainingData.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.opengis.net/trainingdml-ai/part3/1.0" targetNamespace="http://www.opengis.net/trainingdml-ai/part3/1.0"
  xmlns:cit="https://schemas.isotc211.org/19115/-1/cit/1.3"
  xmlns:gex="https://schemas.isotc211.org/19115/-1/gex/1.3"
  elementFormDefault="qualified" version="1.0.0">
  <xs:annotation>
    <xs:documentation>
      OGC Training Data Markup Language for Artificial Intelligence (TrainingDML-AI) is an OGC Standard.
      Copyright (c) 2025 Open Geospatial Consortium.
      To obtain additional rights of use, visit https://www.ogc.org/legal/ .
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/cit/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/cit/1.3.0/citation.xsd"/>
  <xs:import namespace="https://schemas.isotc211.org/19115/-1/gex/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/gex/1.3.0/extent.xsd"/>
  <xs:include schemaLocation="./ai_label.xsd"/>
  <xs:include schemaLocation="./ai_labeling.xsd"/>
  <xs:include schemaLocation="./ai_trainingTypeCode.xsd"/>
  <xs:include schemaLocation="./dataQuality.xsd"/>
  <xs:element name="AI_EOTrainingData" type="AI_EOTrainingData"/>
  <xs:complexType name="AI_EOTrainingData">
    <xs:sequence>
      <xs:element name="type" type="xs:string" fixed="AI_EOTrainingData"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="datasetId" type="xs:string" minOccurs="0"/>
      <xs:element name="trainingType" type="AI_TrainingTypeCode" minOccurs="0"/>
      <xs:element name="numberOfLabels" type="xs:int" minOccurs="0"/>
      <xs:element name="dataSources" type="cit:CI_Citation_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="extent" type="gex:EX_Extent_Type" minOccurs="0"/>
      <xs:element name="dataTime" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dataURL" type="xs:anyURI" maxOccurs="unbounded"/>
      <xs:element name="labels" type="AI_AbstractLabel" maxOccurs="unbounded"/>
      <xs:element name="labeling" type="AI_Labeling" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="quality" type="DataQuality" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>