schemas/1.0/xml_schema/ai_labeler.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
	<xs:element name="AI_Labeler" type="AI_Labeler"/>
	<xs:complexType name="AI_Labeler">
		<xs:sequence>
			<xs:element name="type" type="xs:string" fixed="AI_Labeler"/>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>