schemas/1.0/xml_schema/ai_labeling.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.opengis.net/trainingdml-ai/part3/1.0" targetNamespace="http://www.opengis.net/trainingdml-ai/part3/1.0"
	xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3"
	elementFormDefault="qualified" version="1.0.0">
	<xs:annotation>
		<xs:documentation>
			OGC Training Data Markup Language for Artificial Intelligence (TrainingDML-AI) is an OGC Standard.
			Copyright (c) 2025 Open Geospatial Consortium.
			To obtain additional rights of use, visit https://www.ogc.org/legal/ .
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/mcc/1.3.0/commonClasses.xsd"/>
	<xs:include schemaLocation="./ai_labeler.xsd"/>
	<xs:include schemaLocation="./ai_labelingProcedure.xsd"/>
	<xs:element name="AI_Labeling" type="AI_Labeling"/>
	<xs:complexType name="AI_Labeling">
		<xs:sequence>
			<xs:element name="type" type="xs:string" fixed="AI_Labeling"/>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="scope" type="mcc:MD_Scope_Type"/>
			<xs:element name="labelers" type="AI_Labeler" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="procedure" type="AI_LabelingProcedure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>