schemas/1.0/xml_schema/ai_metricsInLiterature.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.opengis.net/trainingdml-ai/part3/1.0" targetNamespace="http://www.opengis.net/trainingdml-ai/part3/1.0"
	elementFormDefault="qualified" version="1.0.0">
	<xs:annotation>
		<xs:documentation>
			OGC Training Data Markup Language for Artificial Intelligence (TrainingDML-AI) is an OGC Standard.
			Copyright (c) 2025 Open Geospatial Consortium.
			To obtain additional rights of use, visit https://www.ogc.org/legal/ .
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="./namedValue.xsd"/>
	<xs:element name="AI_MetricsInLiterature" type="AI_MetricsInLiterature"/>
	<xs:complexType name="AI_MetricsInLiterature">
		<xs:sequence>
			<xs:element name="doi" type="xs:string"/>
			<xs:element name="algorithm" type="xs:string" minOccurs="0"/>
			<xs:element name="metrics" type="NamedValue" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>