schemas/1.0/xml_schema/ai_task.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
	<xs:element name="AI_AbstractTask" type="AI_AbstractTask"/>
	<xs:complexType name="AI_AbstractTask">
		<xs:sequence>
			<xs:element name="datasetId" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>