schemas/1.0/xml_schema/dateTime.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
	<xs:complexType name="DateTime">
		<xs:choice>
			<xs:element name="date" type="xs:date"/>
			<xs:element name="time" type="xs:time"/>
			<xs:element name="dateTime" type="xs:dateTime"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>