schemas/1.0/xml_schema/named_value.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
	<xs:complexType name="NamedValue">
		<xs:sequence>
			<xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>