schemas/1.0/xml_schema/qualityElement.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://raw.githubusercontent.com/opengeospatial/TrainingDML-AI_SWG/main/schemas/1.0/xml_schema" elementFormDefault="qualified">
	<xs:complexType name="QualityElement">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="measure" type="xs:string"/>
			<xs:element name="evaluationMethod" type="xs:string"/>
			<xs:element name="result" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>