schemas/1.0/xml_schema/TrainingDML-AI_Schema_Updating.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="AI_AbstractTrainingDataset">
		<xs:sequence>
			<xs:element name="amountOfTrainingData" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="classes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="classificationScheme" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="createdTime" type="multiDateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataSources" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="doi" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="license" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numberOfClasses" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="providers" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="scope" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statisticsInfo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="updatedTime" type="multiDateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="labeling" type="AI_Labeling" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="metricsInLIT" type="AI_MetricsInLiterature" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tasks" type="AI_AbstractTask" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="quality" type="DataQuality" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="data" type="AI_AbstractTrainingData" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_EOTrainingDataset">
		<xs:complexContent>
			<xs:extension base="AI_AbstractTrainingDataset">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_EOTrainingDataset"/>
					<xs:element name="bands" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="extent" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="imageSize" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_AbstractTrainingData">
		<xs:sequence>
			<xs:element name="datasetId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataSources" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numberOfLabels" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="labels" type="AI_AbstractLabel" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="labeling" type="AI_Labeling" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trainingType" type="AI_TrainingTypeCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quality" type="DataQuality" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_EOTrainingData">
		<xs:complexContent>
			<xs:extension base="AI_AbstractTrainingData">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_EOTrainingData"/>
					<xs:element name="dataURL" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="extent" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dataTime" type="multiDateTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_AbstractLabel">
		<xs:sequence>
			<xs:element name="confidence" default="1.0" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0.0" />
						<xs:maxInclusive value="1.0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isNegative" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_SceneLabel">
		<xs:complexContent>
			<xs:extension base="AI_AbstractLabel">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_SceneLabel"/>
					<xs:element name="class" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_ObjectLabel">
		<xs:complexContent>
			<xs:extension base="AI_AbstractLabel">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_ObjectLabel"/>
					<xs:element name="bboxType" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="class" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="object" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="dateTime" type="multiDateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_PixelLabel">
		<xs:complexContent>
			<xs:extension base="AI_AbstractLabel">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_PixelLabel"/>
					<xs:element name="imageFormat" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="imageURL" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_Labeler">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_Labeler"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_LabelingProcedure">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_LabelingProcedure"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="methods" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="tools" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_Labeling">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_Labeling"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="scope" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="labelers" type="AI_Labeler" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="procedure" type="AI_LabelingProcedure" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_AbstractTask">
		<xs:sequence>
			<xs:element name="datasetId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_EOTask">
		<xs:complexContent>
			<xs:extension base="AI_AbstractTask">
				<xs:sequence>
					<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_EOTask"/>
					<xs:element name="taskType" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_MetricsInLiterature">
		<xs:sequence>
			<xs:element name="algorithm" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="doi" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metrics" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataQuality">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="DataQuality"/>
			<xs:element name="scope" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="report" type="QualityElement" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QualityElement">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="measure" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="evaluationMethod" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="result" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AI_ClassBalanceDegree">
		<xs:complexContent>
			<xs:extension base="QualityElement">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AI_TDChangeset">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" fixed="AI_TDChangeset"/>
			<xs:element name="add" type="AI_AbstractTrainingData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="changeCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="datasetId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="delete" type="AI_AbstractTrainingData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modify" type="AI_AbstractTrainingData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="createdTime" type="multiDateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AI_TrainingTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="training"/>
			<xs:enumeration value="validation"/>
			<xs:enumeration value="test"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="multiDateTime">
		<xs:choice>
			<xs:element name="date" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<!--
	<xs:complexType name="feature">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  -->

</xs:schema>